	<form name="newContactForm" ng-submit="adder.add(list)">
		<b>Add new Contact:</b>
		<div>Name: <input type="text" id="nameInput" ng-model="adder.name" cols="40" rows="1" required/></div>
		<div ng-show="adder.name">Email: <input type="email" ng-model="adder.email" cols="40" rows="1" required/></div>
		<input type="submit" value="submit" id="submitBtn" ng-show="newContactForm.$valid" class="btn"/>
		<input type="button" value="send" id="sendBtn" class="btn" ng-click="adder.submitter()"/>
		
		<!--div> form validity: {{newContactForm.$valid}}</div>
		<div> name validity: {{adder.name}}</div-->

	</div>
